<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2"  [formControl]="filter" type="text" />
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let item of service.getColumns(this.entity_code)"  scope="col">{{item}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let obj of observableData | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let key of service.getColumns(this.entity_code)">
        <ngb-highlight [result]="obj[key]" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <button class="float-right card-inverse">
            <i class="fa fa-arrow-circle-right"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>