<app-page-header [heading]="entityName | async" [icon]="'fa-puzzle-piece'" [inActiveBreadCrumb]="[
{icon:'fa-wrench',link:'/settings/',link_name:'Super Admin' },
{icon:'fa-puzzle-piece',link:'/settings/entities',link_name:'Entities' }]"></app-page-header>


<form role="form" [formGroup]="formGroup" (ngSubmit)="saveEntity()">
  <ngb-tabset>
    <ngb-tab title="General">
      <ng-template ngbTabContent>


        <div class="form-group">
          <label class="form-control-label" for="entity_code">Entity code</label>
          <input type="text" class="form-control" formControlName="entity_code" id="entity_code">
          <!-- <input type="text" class="form-control is-valid" formControleName="entity_code" id="entity_code"> -->
          <!-- <div class="valid-feedback invalid-feedback">
                                              Input success message
                                            </div> -->
        </div>
        <div class="form-group">
          <label class="form-control-label" for="entity_name">Entity Name</label>
          <input type="text" class="form-control" formControlName="entity_name" id="entity_name">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="entity_access">Entity Name</label>
          <input type="text" class="form-control" formControlName="entity_access" id="entity_access">
        </div>

        <div class="form-group">
          <label>Entity Active</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="entity_active"> Active
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Columns">
      <ng-template ngbTabContent>
        <button (click)="addColumn()" class="float-right card-inverse">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        <div formArrayName="entity_schema" *ngFor="let field of this.formGroup.controls['entity_schema'].controls; let i=index">
          <div [formGroupName]="i" class="row">
            <div style="margin: 2px;">
              <label class="form-control-label" for="column_name">Column Name</label>
              <input type="text" class="form-control" formControlName="column_name" id="column_name">
            </div>
            <div style="margin: 2px;">
              <label class="form-control-label" for="column_type">Column Type</label>
              <input type="text" class="form-control" formControlName="column_type" id="column_type">
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

  </ngb-tabset>
  <button class="btn btn-primary">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
  </button>

  {{this.formGroup.value | json}}
</form>
