<app-page-header [heading]="'Operations'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">
  <div *ngFor="let item of this.service.getSessionValues('accessible_entities')" class="col-xl-3 col-lg-6">
    <div class="card text-white bg-success">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-3">
            <i class="fa fa-puzzle-piece fa-5x"></i>
          </div>
          <div class="col col-xs-9 text-right">
            <!-- <div class="d-block huge">{{count}}</div> -->
            <div class="d-block">{{ item.label }}</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <span class="float-left">View Details</span>
        <button routerLink="/operations/entity/{{item.entity_code}}"  class="float-right card-inverse">
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
