<app-page-header [heading]="'Access'" [icon]="'fa-tasks'" [inActiveBreadCrumb]="[{icon:'fa-wrench',link:'/settings',link_name:'Super Admin' }]"></app-page-header>
<div class="row">
  <div class="col-xl-12">                  
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <button (click)="addEntityAccess()" class="float-right card-inverse">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
          </li>
      </ol>
  </div>
</div>

<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2"  [formControl]="filter" type="text" />
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
      <!-- <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th> -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of observableData | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let key of columns(entity)">
        <ngb-highlight [result]="entity[key]" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <button (click)="details(entity['_id'])" class="float-right card-inverse">
            <i class="fa fa-arrow-circle-right"></i>
        </button>
      </td>
      <td>
        <button class="float-right card-inverse"> 
            <i class="fa fa-info" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>