<app-page-header [heading]="'Access'" [icon]="'fa-tasks'" [inActiveBreadCrumb]="[{icon:'fa-wrench',link:'/settings',link_name:'Super Admin' }]"></app-page-header>
<div class="row">
  <div class="col-xl-12">                  
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <button (click)="addEntityAccess()" class="float-right card-inverse">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
          </li>
      </ol>
  </div>
</div>
<app-data-table [entity_code]="'entityaccess'" [filters]="this.tableFilter" (actionEvent)="details($event)"></app-data-table>